@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Lora:ital,wght@0,400..700;1,400..700&display=swap');

/* Global styles */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
} 

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    background-color: #f5f5f5 !important;
}

.container {
    margin: 0 auto;
    padding: 20px;
}

p, h1:not(.dancing-script-font), h2, h3, span, button {
  font-family: "Lora", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  color: #333;
}

h1, h2 {
    font-size: 36px;
    margin-bottom: 40px;
    padding: 20px;
    letter-spacing: 3px;
    text-align: center;
}

p {
    font-size: 16px;
}

h3 {
    font-size: 25px;
    margin-bottom: 20px;
    padding: 20px 0;
    text-align: inherit;
}

h4 {
    font-size: 18px;
    padding: 10px;
    text-align: center;
}

a {
    text-decoration: none;
    color: inherit;
}

.dancing-script-font {
    font-family: "Dancing Script", cursive;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

.contact-button img, .location img {
    width: 30px;
    height: 30px;
    margin: 10px;
}

.contact-button {
    font-size: 18px !important;
    padding: 10px 20px;
    border: 1px solid #333;
    border-radius: 4px;
    background: rgba(246, 246, 246, 0.5);
    display: flex;
    align-items: center;
    margin: 10px;
    flex-wrap: wrap;
    cursor: pointer;
}

.contact-button:hover {
    background-color: #ff8fab;
    border-radius: 5px;
    color: #fff;
}

.contact-button span {
    color: #fff;
}

.contact-button a {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    cursor: pointer;
}


/* Header styles */
header {
    text-align: center;
    position: relative;
    overflow: auto;
}

/* Header Carousel styles */
header {
    .carousel {
        position: relative;
        width: 100%;
        max-width: 100%; 
        height: 1000px;
        margin: 0 auto;
        overflow: hidden;
    }

    .carousel .imgwds {
        position: relative;
        width: 100%;
        height: 100%;
    }

    .slide-image {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-size: cover !important;
        background-position: center;
        transition: opacity 0.5s ease;
        box-shadow: 0px 0px 0px 5000px #0000009e inset;
    }

    /* Show the active slide-image */
    .imgwds.active .slide-image {
        opacity: 1;
    }

    .imgwds .descr {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: #fff;
        padding: 20px;
        text-align: center;
        width: 80%;
    }

    .imgwds .descr h1 {
        margin-bottom: 10px;
        font-size: 50px;
        color: #ddd;
    }

    .imgwds .descr p {
        margin-bottom: 10px;
        font-size: 20px;
    }

    .imgwds button.about {
        background-color: #ff8fab;
        color: #fff;
        padding: 15px 30px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        font-size: 18px;
        margin: 20px;
    }

    .imgwds button.about:hover {
        background-color: #ddd;
        color: #ff8fab;
    }

    .descr h1, .descr p {
    color: #ddd;
    }

    /* Header Navbar styles */
    nav {
        color: white;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 20px;
        position: fixed;
        z-index: 1001;
        width: 100%;
    }

    ul {
        display: contents;
        list-style: none;
        padding: 0;
        align-items: center;
    }

    .logo img {
        height: 150px;
    }

    nav .navIcon {
        display: none;
    }

    .navIcon img {
        width: 50px;
    }

    .fixed {
        background-color: rgba(0,0,0,0.5) !important;
    }
} 


/* Map Section style */
#map {
    padding: 50px 20px;
    text-align: center;
}

#map h2 {
    margin-bottom: 20px;
}

.location {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.location-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 20px;
}

.location-item {
    width: calc(33.33% - 20px);
    display: flex;
    flex-direction: column;
}

.map-container {
    width: 100%;
    height: 400px;
}

#map .leaflet-bottom.leaflet-right {
    display: none !important;
}

.location {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}

.location img {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}


/* Team Section styles */
#team {
    padding: 50px 0;
}

#team .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}

.team-members {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.team-member {
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    margin: 20px;
    padding: 20px;
    width: 250px;
    text-align: center;
}

.team-member img {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    object-fit: cover;
    margin-bottom: 20px;
}

.team-member h3 {
    margin-bottom: 10px;
    color: #333;
}

.team-member p {
    color: #777;
}



/* About Us section */
#about {
    padding: 50px 20px;
}

#about h2 {
    text-align: center;
    margin-bottom: 30px;
}

.about-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.about-image img {
    width: 100%;
    height: auto;
    max-width: 300px;
    border-radius: 10px;
}

.about-text {
    max-width: 75%;
    text-align: justify;
    padding: 20px;
    display: grid;
}

.about-text a.about{
    margin-top: 20px;
    color: #ff8fab !important;
}



/* Services Section */
#services {
    padding: 60px 0;
    text-align: center;
}
.services-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    max-width: 100%;
    margin: 0 auto;
    gap: 30px;
}

.left-column,
.right-column {
    flex: 1;
    max-width: fit-content;
    margin: 10px;
}

.left-column {
    margin-left: 50px;
}

.right-column {
    margin-right: 50px;    
    text-align: left;
}

.left-column img {
    width: 100%;
    border-radius: 10px;
    margin-bottom: 20px;
}

.left-column p {
    color: #666;
    font-size: 1.1rem;
    line-height: 1.6;
    margin-bottom: 20px;
}

.icon-section {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
}

.icon-item {
    flex: 1 1 calc(50% - 10px);
    margin: 20px 0;
    padding: 20px;
    box-shadow: 6px 6px 10px #BFBFBF;
    border: 0.5px solid #ff8fab;
    border-radius: 10px;
    text-align: center;
    transition: transform 0.3s ease;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.icon-item img {
    width: 50px;
    height: 50px;
    margin-bottom: 10px;
}

.icon-item span {
    margin-top: 10px;
    font-size: 1rem;
}

.icon-item:hover {
    transform: scale(1.05);
}

.right-column ul {
    list-style-type: none;
    padding: 0;
}

.right-column li {
    font-size: 20px;
    color: #666;
    margin-bottom: 10px;
    padding-left: 20px;
    position: relative;
}

.right-column li::before {
    content: '•';
    position: absolute;
    left: 0;
    color: #ff8fab;
    font-size: 1.5rem;
}



/* FAQ Section */
#FAQ {
    .wrapper {
        max-width: 75%;
        margin: auto;
        padding-top: 50px;
        padding-bottom: 50px;
    }

    .wrapper > p,
    .wrapper > h3 {
        text-align: center;
        padding-bottom: 20px;
    }

    .accordion {
        color: black;
        cursor: pointer;
        font-size: 19px;
        width: 100%;
        padding: 20px 25px;
        border: none;
        border-bottom: solid;
        border-bottom-color: rgba(0,0,0,0.2);
        border-radius: 10%;
        outline: none;
        transition: 0.4s;
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-weight: 500;
        background-color: #fff;
    }

    .active, .accordion:hover {
        color: #ff8fab;
    }

    .active, .accordion:hover::after {
        color: black;
    }

    .panel {
        padding: 10px 20px;
        overflow: hidden;
        display: none;
    }

    .panel p {
        color: black;
        line-height: 1.4;
    }

    .faq {
        margin: 10px 0;
    }

    .faq.active {
        border: none;
    }

    .rotate-icon {
        transform: rotate(180deg);
    }
}



/* Footer Styles */
footer {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
}

footer h2 {
    color: #ddd;
}


.footer-columns {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 20px;
}

.buttons-container,
.form-container {
    flex: 1;
    padding: 20px 0;
    display: grid;
}

/* Contact Section styles */
#contact-form {
    max-width: 600px;
    text-align: left;
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #ddd;
}

.form-group input,
.form-group textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #79828D;
    border-radius: 5px;
    font-size: 16px;
    color: #333;
}

.form-group input:focus,
.form-group textarea:focus {
    border-color: #ff8fab;
    outline: none;
}

button[type="submit"] {
    background-color: #ff8fab;
    color: #fff;
    padding: 15px 30px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
}

button[type="submit"]:hover {
    background-color: #ddd;
    color: #ff8fab;
}

#form-status {
    padding: 20px;
}

@media only screen and (max-width: 600px) {
    header .carousel {
        height: 800px;
    }

    .imgwds .descr h1 {
        font-size: 30px;
    }

    .imgwds .descr p {
        font-size: 16px;
    }

    .about-content {
        flex-direction: column;
    }

    .about-text {
        max-width: 90% !important;
        text-align: center;
    }

    .footer-columns {
        flex-direction: column;
        align-items: center;
    }

    .contact-button {
        justify-content: center;
    }
}

@media only screen and (max-width: 992px) {

    #imageCarousel, #about, nav, footer{
        width: 100%; 
        max-width: 100%;
    }

    .navIcon {
        display: block !important;
        order: 1;
        margin-right: 50px;
        border-radius: 10%;
        border: 1px solid #fff;
    }

    .nav-links {
        display: none;
        flex-direction: column;
        position: absolute;
        width: 100%;
        background: rgba(0,0,0,0.5);
        right: 0;
        left: 0;
        padding: 20px 0;
    }

    .nav-links.responsive {
        display: flex;
    }

    .nav-links li {
        margin: 10px 0;
        text-align: center;
    }

    .navIcon {
        display: block;
    }

    .team-members {
        flex-direction: column;
        align-items: center;
    }

    .team-member {
        width: 80%;
    }

    h2 {
        font-size: 28px;
    }

    #contact-form {
        width: 90%;
    }

    .location-item {
        width: calc(75%);
    }

    .about-text {
        max-width: 50%;
    }

    footer .container {
        flex-direction: column;
        align-items: center;
    }
    
    .location {
        justify-content: center;
    }

    .services-content {
        flex-direction: column;
        align-items: center;
    }
    .icon-section {
        display: block;
    }

    .left-column, .right-column {
        margin: 0;
        max-width: 90%;
    }

    .right-column ul {
        display: contents;
    }
}

@media only screen and (min-width: 992px) {
    .about-text {
        max-width: 60%;
    }
}

@media only screen and (max-width: 768px) {
    .imgwds .descr h1 {
        font-size: 5vw;
    }

    .imgwds .descr p {
        font-size: 3vw;
    }

    .imgwds button.about {
        padding: 10px 20px;
        font-size: 3vw;
    }
}

@media only screen and (max-width: 480px) {
    .imgwds .descr h1 {
        font-size: 6vw;
    }

    .imgwds .descr p {
        font-size: 4vw;
    }

    .imgwds button.about {
        padding: 8px 16px;
        font-size: 4vw;
    }
}